.Navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 4rem;
    width: auto;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    display: flex;
    flex-wrap: wrap; /* Allows products to wrap to new row */
    justify-content: center;
    max-width: 1200px; /* Maximum width for products */
}

.product-frame {
    width: 200px; /* Adjust to desired size */
    margin: 10px; /* Margin between products */
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    max-width: 100%;
}

.product-text {
    padding: 10px;
}

.product-title {
    font-size: 18px;
    margin: 0 0 10px;
}

.product-description {
    font-size: 14px;
    margin: 0 0 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
  
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .product-frame {
        width: 25%; /* Adjust to desired size */
    }
}

  
a {
    color: #333;
    text-decoration: none;
}
.Navigationbar h1 {
    color: orange;
    font-size: xx-large;
}
a:hover {
    text-decoration: underline;
}
#Kronan {
    position: absolute;
    width: 4rem;
    top: 1rem;
}
.nav-links {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links li {
    margin-left: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .Navigationbar {
        flex-direction: column;
        align-items: center;
        height: 90px;

    }
    
    .nav-links {
        text-align: center;
        margin-top: .5rem;
    }
    
    .nav-links li {
        margin: 0.5rem 1;
    }

    .Navigationbar h1 {
        color: orange;
        font-size: x-large;
    }

    #Kronan {
        top: 1.5rem;
        width: 45px;
    }
}

@media screen and (max-width: 440px) {
    .Navigationbar {
        flex-direction: column;
        align-items: center;
        height: auto;

    }
    
    .nav-links {
        text-align: center;
        margin-top: 1rem;
    }
    
    .nav-links li {
        margin: 0.5rem 1;
        font-size: 15px;
    }

    .Navigationbar h1 {
        color: orange;
        font-size: medium;
    }

    #Kronan {
        top: 1.5rem;
        width: 25px;
    }
}

@media screen and (max-width: 250px) {
    .nav-links li {
        margin: 0.5rem 1;
        font-size: 10px;
    }
}