html, body {
    overflow-x: hidden; /* Prevents horizontal scrollbar from appearing on the page */
}

.SideBar {
    position: fixed; /* Sets the position of the sidebar as fixed */
    top: 20vh; /* Sets the distance from the top of the viewport */
    right: -500px; /* Initially sets the sidebar to be off-screen on the right */
    width: 20vw; /* Sets the width of the sidebar */
    height: 70vh; /* Sets the height of the sidebar */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adds a box shadow to the sidebar */
    background-color: white; /* Sets the background color of the sidebar */
    transform: translateY(100%); /* Initially moves the sidebar off-screen */
    transition: transform 1s ease; /* Adds a transition effect when the sidebar is shown */
    z-index: 999; /* Sets the stacking order of the sidebar */
}

.SideBar.show-sidebar {
    transform: translateX(0%); /* Moves the sidebar into view by translating it horizontally */
    right: 0px; /* Adjusts the position of the sidebar to be fully visible */
}

#ProductsInShoppingCart {
    list-style: none; /* Removes the default bullet points from the list */
}

/* @media only screen and (max-width: 768px): Applies styles to the ".SideBar" element only when the screen width is at most 768px. */
@media only screen and (max-width: 768px) {
    .SideBar {
        width: 60vw; /* Sets the width of the sidebar for smaller screens */
        height: 60vh; /* Sets the height of the sidebar for smaller screens */
        right: -500px; /* Initially sets the sidebar to be off-screen on the right */
        top: 30vh; /* Sets the distance from the bottom of the viewport */
        z-index: 999; /* Sets the stacking order of the sidebar */
    }

    .SideBar.show-sidebar {
        transform: translateX(0%); /* Moves the sidebar into view by translating it horizontally */
        right: 20vw; /* Adjusts the position of the sidebar to be fully visible */
        left: 20vw; /* Adjusts the position of the sidebar to be fully visible */
    }
}

/* @media only screen and (max-width: 500px): Applies styles to the ".SideBar" element only when the screen width is at most 500px. */
@media only screen and (max-width: 500px) {
    .SideBar {
        width: 60vw; /* Sets the width of the sidebar for smaller screens */
        height: 60vh; /* Sets the height of the sidebar for smaller screens */
        right: -500px; /* Initially sets the sidebar to be off-screen on the right */
        bottom: 20vh; /* Increase the value to move the sidebar down */
        z-index: 999; /* Sets the stacking order of the sidebar */
    }

    .SideBar.show-sidebar {
        transform: translateX(0%); /* Moves the sidebar into view by translating it horizontally */
        right: 20vw; /* Adjusts the position of the sidebar to be fully visible */
        left: 20vw; /* Adjusts the position of the sidebar to be fully visible */
    }
}

#ProductText {
    left: 0; /* Sets the distance from the left edge of the parent container */
    right: 0; /* Sets the distance from the right edge of the parent container */
    text-align: center; /* Centers the text horizontally */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; /* Sets the font family */
    font-size: large; /* Sets the font size */
}

.buy-button {
    position: absolute; /* Sets the position of the button as absolute */
    background-color: #008cba; /* Sets the background color of the button */
    border: none; /* Removes the border from the button */
    color: white; /* Sets the text color of the button */
    padding: 12px 24px; /* Sets the padding of the button */
    text-align: center; /* Centers the text horizontally within the button */
    text-decoration: none; /* Removes text decoration from the button */
    display: inline-block; /* Sets the button to be an inline block element */
    font-size: 16px; /* Sets the font size of the button */
    margin: 4px auto; /* Sets the margin of the button */
    cursor: pointer; /* Sets the cursor style for the button */
    border-radius: 5px; /* Rounds the corners of the button */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Adds a box shadow to the button */
    transition: all 0.3s ease; /* Adds a transition effect to the button */
    left: 50%; /* Positions the button 50% from the left edge of the parent container */
    transform: translateX(-50%); /* Moves the button horizontally by 50% of its own width */
    bottom: 3vh; /* Sets the distance from the bottom of the parent container */
}

.buy-button:hover {
    background-color: #005f79; /* Sets the background color of the button when hovered */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Adds a box shadow to the button when hovered */
    transform: translate(-50%, -2px); /* Slightly moves the button up when hovered */
}

.SideBar-Items {
    display: flex; /* Displays the items in the sidebar as a flex container */
    justify-content: space-around; /* Distributes the items evenly within the flex container */
}