/* .SideBar: Sets the position, width, height, and box-shadow properties for an element with the class "SideBar".    */
.SideBar {
    position: absolute;
    top: 20vh;
    right: -500px;
    width: 20vw;
    height: 70vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(100%);
    transition: transform 1s ease;
}
.SideBar.show-sidebar {
    transform: translateX(0%);
    right: 0px;
}

#ProductsInShoppingCart {
    list-style: none;
}

/* @media only screen and (max-width: 768px): Applies styles to the ".SideBar" element only when the screen width is at most 768px. */
@media only screen and (max-width: 768px) {
    .SideBar {
      width: 60vw;
      height: 60vh;
      top: 20vh;
      right: 20vw;
      left: 20vw;
      bottom: 20vh;
      z-index: 999;
    }
}
/* @media only screen and (max-width: 500px): Applies styles to the ".SideBar" element only when the screen width is at most 500px. */
@media only screen and (max-width: 500px) {
    .SideBar {
      width: 90vw;
      height: 80vh;
      top: 10vh;
      right: 5vw;
      left: 5vw;
      bottom: 10vh;
      z-index: 999;
    }
}
/* #ProductText: Sets the left, right, text-align, font-family, and font-size properties for an element with the ID "ProductText". */
#ProductText {
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: large;
}
/* .ProductsInShoppingCart: Sets the list-style-position and text-align properties for an element with the class "ProductsInShoppingCart". */

/* .buy-button: Sets various properties, such as background-color, border, color, position, and size, for an element with the class "buy-button". */
.buy-button {
    position: absolute;
    background-color: #008cba;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
}

/* .buy-button:hover: Sets the background-color, box-shadow, and transform properties for the ".buy-button" element when the mouse hovers over it. */
.buy-button:hover {
    background-color: #005f79;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -2px);
}

.SideBar-Items {
    display: flex;
    justify-content: space-around;
}
